<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @exercicio.nome %>
</p>

<p>
  <b>Instrucao:</b>
  <%= @exercicio.instrucao %>
</p>

<p>
  <b>Restricao:</b>
  <%= @exercicio.restricao %>
</p>

<p>
  <b>Indicacao:</b>
  <%= @exercicio.indicacao %>
</p>

<p>
  <b>Ativo:</b>
  <%= @exercicio.ativo %>
</p>

<p>
  <b>Partescorpo:</b>
  <%= @exercicio.membros.nome %>
</p>


<%= link_to 'Edit', edit_exercicio_path(@exercicio) %> |
<%= link_to 'Back', exercicios_path %>
