<%= form_for @musculo, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :nome, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nome, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Observação", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :observacao, :class => 'text_area' , :rows => "3" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :selecionado, :class => 'control-label' %>
    <div class="controls">
    	<div class="form-inline">
		    <%= f.radio_button :selecionado, true %>
			<%= f.label :selecionado, "Sim", :value => "true"  %>
		    <%= f.radio_button :selecionado, false %>
		    <%= f.label :selecionado, "Não", :value => "false" %>
	    </div>
    </div>
  </div>
  <div class="control-group">
	  <%= f.label "Atividades ", :class => 'control-label' %>
	  <div class="controls">
		  <div class="form-inline">
			  <% Atividade.where(:tipo =>'M').each do |atividade| %>
				<%= check_box_tag "musculo[atividade_ids][]", atividade.id, @musculo.atividades.include?(atividade) %>
			    <%= label_tag :atividade_ids, atividade.nome %>
			  <% end %>
		  </div>
	  </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),musculos_path, :class => 'btn btn-warning' %>
  </div> 
<% end %>
