<%= form_for(@diasemana) do |f| %>
  <% if @diasemana.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@diasemana.errors.count, "error") %> prohibited this diasemana from being saved:</h2>

      <ul>
      <% @diasemana.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
