<h1>Listing diasemanas</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @diasemanas.each do |diasemana| %>
      <tr>
        <td><%= diasemana.nome %></td>
        <td><%= link_to 'Show', diasemana %></td>
        <td><%= link_to 'Edit', edit_diasemana_path(diasemana) %></td>
        <td><%= link_to 'Destroy', diasemana, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Diasemana', new_diasemana_path %>
