<p class="fields">
	<%= f.label :semana, "Semana:" %>
	<%= f.text_field :semana, :size => 2 %>
	<%= f.label :serie, "Série:" %>
	<%= f.text_field :serie,:size => 2 %>
	<%= f.label :repeticao, "Repetição:" %>
	<%= f.text_field :repeticao,:size => 2 %>
	<%= f.label :carga, "Carga:" %>
	<%= f.text_field :carga,:size => 2 %>
	<%= f.label :intervalo, "Intervalo:" %>
	<%= f.text_field :intervalo,:size => 2 %>
	<%= f.label :observacao, "Observação:" %>
	<%= f.text_field :observacao, :size => 5 %>
	<%= f.collection_check_boxes :diasemana_ids, @aluno.diasemanas, :id, :nome %>
	<%= link_to_remove_fields "Remover", f %>	
</p>