<% if f.index == 0 %>
	<table class="table table-bordered">
		<thead>
			<tr>
				<td>Atividade</td>
				<td>Treino</td>
				<td>Tempo</td>
				<td>Velocidade</td>
				<!--td>Inclinação</td-->
				<td>Carga</td>
				<td>BMP</td>
				<!--td>Dia(s) Aula(s)</td-->
				<!--%@aluno.diasemanas.each do |dia|%-->
			</tr>
		</thead>
		<tbody>
<%end%>
		<tr>
			<div class="form-group">
			<td><%= f.label :nome, f.object.atividade.nome %></td>
			<td><%= f.text_field :ordem_treino,:class=>"form-control"%></td>
			<td><%= f.text_field :tempo, :class=>"form-control"     , :alt=>"strTempoExe"%></td>
			<td><%= f.text_field :velocidade, :class=>"form-control", :alt=>"intCentena" %></td>
			<td><%= f.text_field :carga,:class=>"form-control"      , :alt=>"intCentena" %></td>
			<td><%= f.text_field :bpm,:class=>"form-control"        , :alt=>"intCentena" %></td>
			<!--td><%= f.text_field :inclinacao,:class=>"input-mini" , :alt=>"intCentena" %></td-->
			<!--td class="form-inline"><%= f.collection_check_boxes :diasemana_ids, @aluno.diasemanas, :id,:nomeabreviado %></td-->
		</div>
		</tr>
<% if f.index == @qtdAtividade-1 %>
		</tbody>
	</table>
<% end %>
<%= f.hidden_field :atividade_id %>
