<%= form_for @treino, :html => { :class => 'form-horizontal' } do |f| %>
<div class="control-group">
	<%= f.label "Criação", :class => 'control-label' %>
	<div class="controls">
		<%= f.text_field :criacao, :class => 'text_field',:id => 'datepicker-01' %>
	</div>
</div>
<div class="control-group">
	<%= f.label "Validade", :class => 'control-label' %>
	<div class="controls">
		<%= f.text_field :validade, :class => 'text_field',:id => 'datepicker-02' %>
	</div>
</div>
<div class="control-group">
	<%= f.label "Observação", :class => 'control-label' %>
	<div class="controls">
		<%= f.text_area :observacao, :class => 'text_area', :rows => "3"%>
	</div>
</div>

<div id="tabs">
	<ul>
		<li>
			<a href="#tabs-1">Muscular</a>
		</li>
		<li>
			<a href="#tabs-2">Aeróbico</a>
		</li>
		<li>
			<a href="#tabs-3">Adaptação</a>
		</li>
	</ul>
	<div id="tabs-1">
		<p>
			<table class="table table-bordered">
				<tbody>
					<%= f.fields_for :ordemmusculotreinos, @treino.ordemmusculotreinos do |o| %>
						<%= o.fields_for :musculo do |m| %>
							<%= render "musculoordem_fields", :f => m , :o => o %>
						<% end %>
					<% end %>
				</tbody>
			</table>
		</p>
	</div>
	<div id="tabs-2">
		<p>
			<% @qtdAtividade = @treino.atividadetreinos.size%>
			
			<%= f.fields_for :atividadetreinos, @treino.atividadetreinos do |aa| %>
				<%= render "treinoAerobico_fields", :f => aa %>
			<% end %>			
		</p>
	</div>
	<div id="tabs-3">
		<p>
			<table class="table table-bordered" id="tblData">
				<thead>
					<tr>
						<td>Semana</td>
						<td>Série</td>
						<td>Repetição</td>
						<td>Carga</td>
						<td>Intervalo</td>
						<td>Observação</td>
						<td>Repetição</td>
						<td>&ensp;</td>
					</tr>
				</thead>
				<tbody>
					<%= f.fields_for :adaptacaos, @treino.adaptacaos do |a| %>
						<%= render "adaptacao_fields", :f => a %>
					<% end %>
					<tr>
						<td colspan="7">
							<%= link_to_add_fields "Nova adaptação", f, :adaptacaos %>
						<td>
					</tr>
				</tbody>
			</table>
		</p>
	</div>			
</div>

<div class="form-actions">
	<%= f.submit nil, :class => 'btn btn-primary' %>
	<%= link_to t('.cancel', :default => t("helpers.links.cancel")),treinos_path, :class => 'btn btn-warning' %>
</div>

</div>
<%= hidden_field_tag 'alunoId', @treino.aluno_id %>
<% end %>
