<%= form_for @treino, :html => { :class => 'form-horizontal' } do |f| %>
<div class="control-group">
	<%= f.label :criacao, :class => 'control-label' %>
	<div class="controls">
		<%= f.text_field :criacao, :class => 'text_field',:id => 'datepicker-01' %>
	</div>
	<%= f.label :validade, :class => 'control-label' %>
	<div class="controls">
		<%= f.text_field :validade, :class => 'text_field',:id => 'datepicker-02' %>
	</div>
	<%= f.label :observacao, :class => 'control-label' %>
	<div class="controls">
		<%= f.text_field :observacao, :class => 'text_field' %>
	</div>
</div>

<%= hidden_field_tag 'alunoId', @treino.aluno_id %>
<div class="form-actions">
	<%= f.submit nil, :class => 'btn btn-primary' %>
	<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
	treinos_path, :class => 'btn' %>
</div>
<% end %>
