<%= form_for(@treino) do |f| %>
  <% if @treino.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@treino.errors.count, "error") %> prohibited this treino from being saved:</h2>

      <ul>
      <% @treino.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<p>
	<div class="field">
		<%= f.label "Criação:" %>
		<%= f.date_select :criacao %>
	</div>
</p>
<p>
	<div class="field">
		<%= f.label "Validade:" %>
		<%= f.date_select :validade %>
	</div>
</p>
<p>
	<div class="field">
		<%= f.label "Observação:" %>
		<br>
		<%= f.text_area :observacao %>
	</div>
</p>
<hr>
<strong>Treino Muscular:</strong>
<div>
 	<%= f.fields_for :ordemmusculotreinos, @treino.ordemmusculotreinos do |o| %>	
    	<p>
	       	<%= o.fields_for :musculo do |m| %>
				<%= render "musculoordem_fields", :f => m , :o => o %>       	
			<% end %>
    	</p>
	<% end %>
</div>
<hr>
<p class="fields">
	<strong>Adaptação:</strong>
	<%= f.fields_for :adaptacaos, @treino.adaptacaos do |a| %>
		<%= render "adaptacao_fields", :f => a %>
	<% end %>
	<p>
		<%= link_to_add_fields "Nova adaptação", f, :adaptacaos %>
	</p>
<hr>
</p>
<div class="actions">
    <%= f.submit %>
</div>
<hr>
<%= hidden_field_tag 'alunoId', @treino.aluno_id %>

<% end %>
