<%= form_for @treino, :html => { :class => 'form-horizontal' } do |f| %>
<div class="form-group">
	<%= f.label "Criação", :class => 'col-sm-2 control-label' %>
	<div class="col-sm-4">
		<%= f.text_field :criacao, :value=> l(@treino.criacao), :class => 'form-control',:id => 'datepicker-01' %>
	</div>
	<%= f.label "Validade", :class => 'col-sm-2 control-label' %>
	<div class="col-sm-4">
		<%= f.text_field :validade,:value => l(@treino.validade) ,:class => 'form-control',:id => 'datepicker-02' %>
	</div>

</div>

<div class="form-group">
	<%= f.label "Observação", :class => 'col-sm-2 control-label' %>
	<div class="col-sm-10">
		<%= f.text_area :observacao, :class => 'form-control', :rows => "3"%>
	</div>
</div>

<!-- <div class="form-group">
	<%= f.label "Opção" %>
	<div class="col-sm-10">
		<%= f.select :observacao, [['São Paulo', 'SP'], ['Pará', 'PA'], ['Rio de Janeiro', 'RJ']],
		{ :prompt => "Please select"},
    { :multiple => true, :size => 5 } %>
	</div>
</div> -->



<div id="tabs">
	<ul>
		<li>
			<a href="#tabs-1">Neuromuscular</a>
		</li>
		<li>
			<a href="#tabs-2">Aeróbico</a>
		</li>
		<li>
			<a href="#tabs-3">Adaptação</a>
		</li>
	</ul>
	<div id="tabs-1">
		<p>
			<table class="table table-bordered">
				<tbody>
					<%= f.fields_for :ordemmusculotreinos, @treino.ordemmusculotreinos do |o| %>
						<%= o.fields_for :musculo do |m| %>
							<%= render "neuro_tab", :f => m , :o => o %>
						<% end %>
					<% end %>
				</tbody>
			</table>
		</p>
	</div>
	<div id="tabs-2">
		<p>
			<% @qtdAtividade = @treinoAtividadesAerobico.size%>
			<%= f.fields_for :atividadetreinos, @treinoAtividadesAerobico do |aa| %>
				<%= render "aerobico_tab", :f => aa %>
			<% end %>
		</p>
	</div>
	<div id="tabs-3">
		<p>
			<table class="table table-bordered" id="tblData">
				<thead>
					<tr>
						<td>Semana</td>
						<td>Série</td>
						<td>Repetição</td>
						<td>Carga</td>
						<td>Intervalo</td>
						<td>Observação</td>
						<!--td>Repetição</td-->
						<td>&ensp;</td>
					</tr>
				</thead>
				<tbody>
					<%= f.fields_for :adaptacaos, @treino.adaptacaos do |a| %>
						<%= render "adaptacao_tab", :f => a %>
					<% end %>
					<!--tr>
						<td colspan="6">
							<%= link_to_add_fields "Nova adaptação", f, :adaptacaos %>
						<td>
					</tr-->
				</tbody>
			</table>
			<%= link_to_add_fields "Nova adaptação", f, :adaptacaos %>
		</p>
	</div>
</div>

<div class="panel-footer">
	<%= f.submit nil, :class => 'btn btn-primary' %>
	<%= link_to t('.cancel', :default => t("helpers.links.cancel")),alunos_path+"/"+@aluno.id.to_s, :class => 'btn btn-warning' %>
</div>

</div>
<%= hidden_field_tag 'alunoId', @treino.aluno_id %>
<% end %>
