<% if f.index == 0 %>
	<table class="table table-bordered">
		<thead>
			<tr>
				<td>Atividade</td>
				<td>Tempo</td>
				<td>Velocidade</td>
				<td>Inclinação</td>
				<td>Carga</td>
				<td>BMP</td>
				<td>Dia(s) Aula(s)</td>
				<!--%@aluno.diasemanas.each do |dia|%-->	
			</tr>
		</thead>
		<tbody>
<%end%>
		<tr>
			<td><%= f.label :nome, f.object.atividade.nome %></td>
			<td><%= f.text_field :tempo, :class=>"input-mini"%></td>
			<td><%= f.text_field :velocidade, :class=>"input-mini" %></td>
			<td><%= f.text_field :inclinacao,:class=>"input-mini" %></td>
			<td><%= f.text_field :carga,:class=>"input-mini"%></td>
			<td><%= f.text_field :bpm,:class=>"input-mini"%></td>
			<td class="form-inline"><%= f.collection_check_boxes :diasemana_ids, @aluno.diasemanas, :id,:nomeabreviado %></td>
		</tr>
<% if f.index == @qtdAtividade-1 %>
		</tbody>
	</table>
<% end %>
<%= f.hidden_field :atividade_id %>