<p>
  <%= treino.criacao %>
  <%= "-" %>
  <%= treino.validade %>  
  
  <td><%= link_to 'Show', treino %></td>
  <td><%= link_to 'Edit', edit_treino_path(treino) %></td>
  <td><%= link_to 'Destroy', treino, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  
</p>