<% if f.index == 0 %>
	<table class="table table-bordered">
		<thead>
			<tr>
				<td>Atividade</td>
				<td class="col-lg-2">Tempo</td>
				<td>Velocidade</td>
				<td>Inclinação</td>
				<td>Carga</td>
				<td>Bmp</td>
				<td>Dia(s) Semana(s)</td>
			</tr>
		</thead>
		<tbody>
<%end%>
		<tr>
			<td><%= f.label :nome, f.object.atividade.nome %></td>
			<td><%= f.text_field :tempo%></td>
			<td><%= f.text_field :velocidade %></td>
			<td><%= f.text_field :inclinacao %></td>
			<td><%= f.text_field :carga%></td>
			<td><%= f.text_field :bpm%></td>
			<td><%= f.collection_check_boxes :diasemana_ids, @aluno.diasemanas, :id, :nome %></td>
		</tr>
<% if f.index == @qtdAtividade %>
		</tbody>
	</table>
<% end %>
<%= f.hidden_field :atividade_id %>