<strong>Editando Treino</strong>

<%= form_for(@treino) do |f| %>
	<p>
		<div class="field">
			<%= f.label "Criação:" %>
			<%= f.date_select :criacao %>
		</div>
	</p>
	<p>
		<div class="field">
			<%= f.label "Validade:" %>
			<%= f.date_select :validade %>
		</div>
	</p>
	<p>
		<div class="field">
			<%= f.label "Observação:" %>
			<br>
			<%= f.text_area :observacao %>
		</div>
	</p>
	<hr>
	<strong>Lista de atividades:</strong>
	<div>
		<% Musculo.all.each do |iMusculo| %>
			<%= iMusculo.nome %>:
			<br>

			<%iMusculo.atividades.each do |iAtividade| %>
				<%= check_box_tag 'treino[atividade_ids][]', iAtividade.id, seekAtividade(iAtividade) %>
				<%= iAtividade.nome %>
				<br>
			<% end %>
			<br>
			
		<% end %>	
	</div>
	<hr>
	<div class="actions">
	    <%= f.submit %>
	</div>
	<hr>
<% end %>