<strong>Editando Treino</strong>

<%= form_for(@treino) do |f| %>
<p>
	<div class="field">
		<%= f.label "id" %>
		<%= f.text_area :id %>
	</div>
</p>

<p>
	<div class="field">
		<%= f.label "Criação:" %>
		<%= f.date_select :criacao %>
	</div>
</p>
<p>
	<div class="field">
		<%= f.label "Validade:" %>
		<%= f.date_select :validade %>
	</div>
</p>
<p>
	<div class="field">
		<%= f.label "Observação:" %>
		<br>
		<%= f.text_area :observacao %>
	</div>
</p>
<hr>
<strong>Lista de atividades:</strong>
<div>

	Ordem inicio
	<br>
 	<%= f.fields_for :ordemmusculotreinos do |o| %>	
    	<p>
        	
        	<%= o.fields_for :musculo do |m| %>
	        	<%= m.label :nome, m.object.nome%>       	
	        	<%= o.label "Ordem:" %>
	        	<%= o.text_field :ordem %>
				<%= hidden_field_tag "treino[musculo_ids][]", :id %>  
	        	<%= m.fields_for :atividades do |a| %>
					<br>
					<%= check_box_tag 'treino[atividade_ids][]', :id, seekAtividade(a) %>
            		<%= a.label :nome, a.object.nome %>
					
	        	<%end %>			 
        	<%end%>
        	<br>
    	</p>
    	
	<% end %>

	<br>
	<% Musculo.all.each do |iMusculo| %>
		<%= iMusculo.nome %>:
		<br>
		<%= f.label "Ordem de execução do grupo:" %>
		<%= hidden_field_tag "treino[musculo_ids][]", iMusculo.id %>
		<br>
	
		<%iMusculo.atividades.each do |iAtividade| %>
			<%= check_box_tag 'treino[atividade_ids][]', iAtividade.id, seekAtividade(iAtividade) %>
			<%= iAtividade.nome %>
		<br>
		<% end %>
		<br>

	<% end %>
</div>
<hr>
<div class="actions">
	<%= f.submit %>
</div>
<hr>
<% end %>