<%= form_tag do %>
	<%= content_tag :div, id: "printMe" do -%>
		<%= label_tag @aluno.nome %>
		Data validade:<%= label_tag @treino.criacao %>
		Dias de treino: <br>
		<%@aluno.diasemanas.each do |dt|%>
			<%=dt.nomeabreviado%>
		<%end%>
		<hr>
		Muscular<br>
		Treino: <%=@meuTreino.first.ordem%>
		<br>
		<% @meuTreino.each do |t|%>
			<%=t.musculo.nome%> 
			<br>
			<p>
			<% t.musculo.atividades.each do |a|%>
				<%=a.nome%>
				<br>
			<%end%>
			</p>
		<%end%>  	

	<% end -%>
	<br>
	<%= print_this_page "Imprimir treino"%>
	<%= print_this_page "Enviar por e-mail"%>
	<%= print_this_page "Registrar presença"%>
	
<% end %>