<%= form_tag do |f|%>
	<%= content_tag :div, id: "printMe" do -%>
		<%= label_tag @aluno.nome %>
		Data validade:<%= label_tag @treino.validade %>
		Semana de:<%= label_tag @treino.criacao.cweek %>
 
		Dias de treino: <br>
		<%@aluno.diasemanas.each do |dt|%>
			<%=dt.nomeabreviado%>
		<%end%>
		<ul>
		<hr>
		<li><b>Treino: <%=@meuTreino.first.ordem%></b> Muscular</li> 
		<br>
		<% @meuTreino.each do |t|%>
			<%=t.musculo.nome%> 
			<br>
			<p>
			<% t.musculo.atividades.each do |a|%>
				<%=a.nome%>
				<br>
			<%end%>
			</p>
		<%end%> 
		<li>Trabalho Aerobico</li>
		<br>
		<%@treino.atividadetreinos.each do |at|%>
			<%if at.atividade.tipo == "A" and at.ordem_treino.include? @treinoOrdem %>
				<%=at.atividade.nome%>
				Tempo:<%=at.tempo%>
			<%end%>
			<br>
		<%end%>
		<li>Adaptações</li>
		<%if @adaptcaoAtual != nil %>
			Semana: <%=@adaptcaoAtual.semana%>
			Série: <%=@adaptcaoAtual.serie%>
		<%end%>
		<hr>
		</ul>

	<% end -%>
	<br>
	<%=link_to('Imprimir Treino', confirmaTreino_path(:alunoId => @aluno.id, :semanaAdaptacao => 1, :last_treino => @treinoOrdem),:class => 'btn btn-primary')%>	
	<%=link_to('Receber por E-mail', confirmaTreino_path(:alunoId => @aluno.id),:class => 'btn btn-primary')%>	
	<%=link_to('Registrar presença', confirmaTreino_path(:alunoId => @aluno.id),:class => 'btn btn-primary')%>	

	
	<% if params.include?("doPrint") %>
		<%= javascript_tag "printDiv()" %>
	<% end -%>

<% end %>