<%- model_class = Aluno -%>

<div id="tabs">
	<ul>
		<li>
			<a href="#tabs-1">Informações</a>
		</li>
		<li>
			<a href="#tabs-2">Treinos</a>
		</li>
	</ul>
	<div id="tabs-1">
		<p>
			<dl class="dl-horizontal">
				<dt>
					<strong>Id. Acadêmia:</strong>
				</dt>
				<dd>
					<%= @aluno.idAcademia %>
				</dd>
				<dt>
					<strong><%= model_class.human_attribute_name(:nome) %>:</strong>
				</dt>
				<dd>
					<%= @aluno.nome %>
				</dd>
				<dt>
					<strong><%= model_class.human_attribute_name(:medicamentos) %>:</strong>
				</dt>
				<dd>
					<%= @aluno.medicamento %>
				</dd>
				<dt>
					<strong><%= model_class.human_attribute_name(:doenca) %>:</strong>
				</dt>
				<dd>
					<%= @aluno.doenca %>
				</dd>
				<dt>
					<strong><%= model_class.human_attribute_name(:alergia) %>:</strong>
				</dt>
				<dd>
					<%= @aluno.alergia %>
				</dd>
				<dt>
					<strong><%= model_class.human_attribute_name(:dores) %>:</strong>
				</dt>
				<dd>
					<%= @aluno.dor %>
				</dd>
				<dt>
					<strong><%= model_class.human_attribute_name(:observacao) %>:</strong>
				</dt>
				<dd>
					<%= @aluno.observacao %>
				</dd>
			</dl>
			<div class="panel-footer">
				<%= link_to t('.back', :default => t("helpers.links.back")),
								alunos_path, :class => 'btn btn-primary'  %>
				<%= link_to t('.edit', :default => t("helpers.links.edit")),
								edit_aluno_path(@aluno), :class => 'btn btn-primary' %>

				<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              					atividade_path(@aluno),
              					:method => 'delete',
					            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirmdelete", :default => 'Are you sure?')) },
              					:class => 'btn btn-danger' %>
			</div>
		</p>
	</div>
	<div id="tabs-2">
		<p>
			<%= render 'treinos/treino' %>
		</p>
	</div>
</div>
