<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :descricao %><br>
    <%= f.text_area :descricao %>
  </div>
  
  <div class="field">
	<% Rule.all.each do |regra| %>
		<%= check_box_tag "group[rule_ids][]", regra.id, @group.rules.include?(regra) %>
		<%= label_tag :regra_ids, regra.nome %>
	<% end %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
