<%= form_for @atividade, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :nome, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nome, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :instrucao, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :instrucao, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :indicacao, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :indicacao, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :restricao, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :restricao, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :observacao, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :observacao, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tipo, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:tipo, [['Aeróbico', 'A'], ['Muscular', 'M']]) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :selecionado, :class => 'control-label' %>
    <div class="controls">
    	<div class="form-inline">
		    <%= f.radio_button :ativo, true %>
			<%= f.label :ativo, "Sim", :value => "true"  %>
		    <%= f.radio_button :ativo, false %>
		    <%= f.label :ativo, "Não", :value => "false" %>
	    </div>
    </div>
  </div>  
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), atividades_path, :class => 'btn btn-warning' %>
  </div>
<% end %>
