<h1>Listing atividades</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Instrucao</th>
      <th>Indicacao</th>
      <th>Restricao</th>
      <th>Observacao</th>
      <th>Tipo</th>
      <th>Ativo</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @atividades.each do |atividade| %>
      <tr>
        <td><%= atividade.nome %></td>
        <td><%= atividade.instrucao %></td>
        <td><%= atividade.indicacao %></td>
        <td><%= atividade.restricao %></td>
        <td><%= atividade.observacao %></td>
        <td><%= atividade.tipo %></td>
        <td><%= atividade.ativo %></td>
        <td><%= link_to 'Show', atividade %></td>
        <td><%= link_to 'Edit', edit_atividade_path(atividade) %></td>
        <td><%= link_to 'Destroy', atividade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Atividade', new_atividade_path %>
