<%= form_for @vendaplano, :html => { :class => 'form-horizontal' } do |f| %>

  <!-- <div class="form-group">
    <%= f.label "Aluno", :class=>"col-sm-2 control-label" %>
    <div class="col-sm-8">
      <%= f.collection_select :aluno_id, Aluno.all.order(nome: :asc),:id ,:nome, prompt: true, :class=>"form-control" %>
    </div>
  </div> -->
  
  <div class="form-group">
    <%= f.label "Aluno", :class=>"col-sm-2 control-label" %>
    <div class="col-sm-8">
      <%= f.collection_select :aluno_id, Aluno.all.order(nome: :asc),:id ,:nome, prompt: true, :class=>"form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Plano", :class=>"col-sm-2 control-label"%>
    <div class="col-sm-4">
      <%= f.collection_select :tabelaplano_id, Tabelaplano.all, :id, :nome, prompt: true, :class=>"form-control"%>
    </div>

    <%= f.label "Pagamento", :class=>"col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.collection_select :formapagamento_id, Formapagamento.all,:id ,:nome, prompt: true ,:class=>"form-control"%>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Tipo Venda",  :class=>"col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.collection_select :tipovenda_id, Tipovenda.all, :id, :nome, prompt: true,:class=>"form-control"%>
    </div>

    <%= f.label "Data venda", :for=>"datepicker" , :class=>"col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :dt_venda ,:value => l(@vendaplano.dt_venda) ,:id =>"datepicker-01", :class=>"datepicker"%>
    </div>
  </div>

  <!-- <div class="form-group">
    <%= f.label "Dia vencimento",  :class=>"col-sm-2 control-label" %>
    <div class="col-sm-2">
      <%= f.text_field :nu_dia, :onkeypress=> onlyTextNumber, :class=>"form-control"%>
    </div>
  </div>
 -->

  <div class="panel-footer">
      <%= f.submit "Gravar", :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")), vendaplanos_path, :class => 'btn btn-warning' %>
  </div>
<% end %>
