<%= form_for @tabelaplano, :html => { :class => 'form-horizontal' } do |f| %>

  <div class="form-group">
    <%= f.label :nome,:for=>"txtName", :class=>"col-sm-3 control-label"%>
    <div class="col-sm-9">
      <%= f.text_field :nome, :id=>"txtName", :class=>"form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Número de parcela(s)", :class=>"col-sm-3 control-label", :for=>"spnParcela" %>
    <div class="col-sm-9">
      <%= f.number_field :qtdMaxParcela, :id=>"spnParcela" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Valor da parcela(s)", :class=>"col-sm-3 control-label", :for=>"vlrParcela" %>
    <div class="col-sm-9">
      <%= f.text_field :valor, :id=>"vlrParcela" %>
    </div>
  </div>

  <div class="panel-footer">
      <%= f.submit "Gravar", :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")), tabelaplanos_path, :class => 'btn btn-warning' %>
  </div>

<% end %>
