<%- model_class = Formapagamento -%>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:nome) %>:</strong></dt>
  <dd><%= @formapagamento.nome %></dd>
</dl>

<div class="panel-footer">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              formapagamento_path, :class => 'btn btn-primary'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_formapagamento_path(@formapagamento), :class => 'btn btn-primary' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              formapagamento_path(@formapagamento),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirmdelete", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
