<p id="notice"><%= notice %></p>
<h1>Mostrando Treino</h1>
<p>
  	<strong>Criacao:</strong>
	<%= @treino.criacao %>
</p>
<p>
  	<strong>Validade:</strong>
	<%= @treino.validade %>
</p>
<p>
  	<strong>Observacao:</strong>
	<%= @treino.observacao %>
</p>

<hr>

<p>  
  <strong>Lista de atividades:</strong>
  <br>
  	<% Musculo.all.each do |iMusculo| %>
		<%= iMusculo.nome %>:
		<br>

		<%iMusculo.atividades.each do |iAtividade| %>
			<%= seekAtividade(iAtividade) ? iAtividade.nome : "" %>
			<br>
		<% end %>
		<br>
		
	<% end %>
</p>

<%= link_to 'Edit', edit_treino_path(@treino) %> |
<%= link_to 'Back', alunos_path %>