<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @rule.nome %>
</p>

<p>
  <strong>Entidade:</strong>
  <%= @rule.entidade %>
</p>

<p>
  <strong>Regra:</strong>
  <%= @rule.regra %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @rule.descricao %>
</p>

<%= link_to 'Edit', edit_rule_path(@rule) %> |
<%= link_to 'Back', rules_path %>
