<%= form_for @tipovenda, :html => { :class => 'form-horizontal' } do |f| %>

  <div class="form-group">
    <%= f.label :nome,:for=>"txtName", :class=>"col-sm-2 control-label"%>
    <div class="col-sm-9">
      <%= f.text_field :nome, :id=>"txtName2", :class=>"form-control" %>
    </div>
  </div>

  <div class="panel-footer">
      <%= f.submit "Gravar", :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")), tipovendas_path, :class => 'btn btn-warning' %>
  </div>

<% end %>
