<!DOCTYPE html>
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
Name	   : Regeneracy
Description: A two-column, fixed-width design with dark color scheme.
Version	: 1.0
Released   : 20100529
-->
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<!--%= stylesheet_link_tag :style01 %-->
		<title>ExeC - Controle de Exercícios</title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tag %>
	</head>

	<body>

		<div id="wrapper">
			<div id="header-wrapper">
				<div id="header">
					<div id="logo">
						<h2><%= link_to "ExeC", alunos_path %></h2>
						<p>
							Controle de Exercícios
						</p>
					</div>
					<div id="menu">
						<ul>
							<li class="current_page_item">
								<%= link_to 'Alunos', alunos_path %>
							</li>
							<li>
								<%= link_to 'Atividades', atividades_path %>
							</li>
							<li>
								<%= link_to 'Grupo Muscular', musculos_path %>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- end #header -->
			<div id="page">
				<div id="page-bgtop">
					<div id="page-bgbtm">
						<!--input type="text" id="datepicker" /-->
						<%= yield %>
						<div style="clear: both;"></div>
					</div>
					<div class="flash">
						<% flash.each do |type, message| -%>
						<div class="message <%= type %>">
							<p>
								<%= message %>
							</p>
						</div>
						<% end -%>
					</div>
				</div>
			</div>
			<!-- end #page -->
		</div>
	</body>
</html>